<!DOCTYPE html>
<html>
  <head>
    <title>Fraudify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script type="text/javascript">
      window.brentURL = "<%= image_url('lightsss.jpg') %>"
      window.brentURL1 = "<%= image_url('taylor_image.jpg') %>"
      window.brentURL2 = "<%= image_url('ships.jpg') %>"

    </script>

    <%= favicon_link_tag '/favicon.png'%>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  </head>

  <body>
    <%= yield %>
  </body>
</html>
